[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
request = "*"
nv = {editable = true,version = "*"}
requests = {editable = true,git = "https://github.com/requests/requests.git",ref = "v2.19"}
sphinx = "*"

[requires]
python_version = "3.7"
